/* TitleBar > QLabel#TitleName {
} */

TitleBar > ADButton#None:hover {
  background-color: rgba(217, 211, 211, 0.3);
}

TitleBar > ADButton#Main-max:hover {
  background-color: rgba(217, 211, 211, 0.3);
  /* rgba(217, 211, 211, 0.3); */
}

TitleBar > ADButton#Close:hover {
  background-color: rgba(238, 9, 9, 0.86);
}
